{{extend 'layout.html'}}
{{=content}}
{{if (auth.user) and (auth.user.RIMO_Name=="IRCA"):}}
  <h2>{{=A("Download Content Submissions",_href=URL(r=request,c='appadmin', f='select',args=["db"],vars=dict(query='db.Content_Form.id>0')))}}</h2>

{{pass}}
<h1>Content Form </h1>
<h3>Use this form to enter your content 
for the</h3> 
<h2>13th National Remote Media Festival,<br>
Umuwa, SA October 3 to 7, 2011</h2>
<h4>Instructons</h4>
Content entries to be submitted no later than Thursday September 29, 2011.
<br>
For ftp upload of files (ie under 500 Mb), please contact <a href="rmf@ictv.net.au">ICTV</a> or Phone 08 89523118 </a>, otherwise please send your entries on
hard drive or disk to:
<br>ICTV Ltd
<br>PO Box 2731
<br>
Please advise ICTV if you are attending the festival and bringing your content files.
<br>
Preferred formal for screening during festival: <strong>DV Pal</strong>
<br><br>
{{=form}}
<h4>See the terms and conditions of the award <a href="http://www.irca.net.au/plugin_wiki/page/Conditions_of_Award">here</a></h4>
<h3>For further information about the content awards please contact ICTV at rmf @ ictv.net.au or phone 08
89523118.<br>
When content is submitted to the Remote Media Festival in any form including video, music, data, images
(either individually or in any combination) you are giving rights for that material to be screened during the
festival. If any organization wishes to use this material for other purposes, such as ICTV broadcasts,
Indigitube, a DVD compilation of winning entries, then additional clearances will be sought.
<br>
<strong>You are agreeing to these conditions if you use this form to upload your content.</strong>
