{{extend 'layout.html'}}
{{if resource:}}
<h3>{{=resource.title}}</h3>
{{else:}}
Resources on site:
<br>
{{pass}}
<p></p>
{{if resources:}}
{{for resource in resources:}}
{{=resource.title}}
<br>
Collected by {{=resource.Collected_by}}
<br>
<br>
<a href={{=URL(c="default", f="filedownload", args=resource_name)}}>Download link</a>
<br>
{{pass}}
{{else:}}
Title: {{=resource.title}}
<br>
Collected by {{=resource.Collected_by}}
<br>
<audio controls>
  <source src={{=URL(c="default", f="filedownload", args=resource_name)}} type="audio/mpeg">
Your browser does not support the audio element.
</audio> 
<br>
{{=resource.description}}
<br>
<a href={{=URL(c="plugin_wiki", f="edit_resource", args=resource.title)}}>Edit Details</a>
<br>
{{if page:}}
<br>
Transcript:
<br>
{{=XML(plugin_wiki.render(page.body))}}
<br>
{{pass}}
<a href={{=URL(c="plugin_wiki", f="edit_resource_transcript", args=resource.title)}}>Edit Transcript</a>
<br>
<a href={{=URL(c="default", f="filedownload", args=resource_name)}}>Download link</a>
{{pass}}
